@charset "utf-8";

/*
  CSS for locations.html Web page
  Script date: Dec 2, 2017
  Developed by: Thanh-Tung Pham
*/

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f8f8f5;
}

main {
    width: 60%;
    margin: 0 auto;
}

header {
    width:100%;
    height:60px;
    margin:0;
    padding-top:10px;
    background-color:#000;
    text-align:center;
}

header p {
    color:#fff;
    margin:0;
    padding:0;
    font-family:'Times New Roman', Times, serif;
    font-size:14px;
    font-style:italic;
}

#title {
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:26px;
}

#title h1 {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.clock {
    float: right;
    top: 5px;
    right: 5px;
    width: 155px;
    height: 115px;
    background-color: #add8e6;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #999;
    text-align: center;
    color: #555;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.clock > p {
    margin: 2px auto;
    padding: 0;
}

.clock > p > input {
    margin: 3px auto;
    text-align: center;
    background: #f0fff0;
}

h4 {
    margin: 10px auto 5px auto;
}

div > p {
    clear: right;
    padding-top: 10px;
}